Редни број,Наслов,Писац,Година издавања,Жанр,Серијал,Колекција,Издавач,ИСБН,Повез,Напомена,Позајмљена,Враћена,Ко је позајмио
1,Летња краљица 1,Џоан Винџ,1993,Научна фантастика,Краљица,,Поларис,нема,Меки,,,
2,Златно доба,Џоан Винџ,1991,Научна фантастика,Краљица,,Поларис,нема,Меки,,,
3,Пешчаник,Дино Буцати,1960,Фантастика,,,Лагуна,978-86-521-0000-0,Тврди,,,
