Редни број,Наслов,Писац,Година издавања,Жанр,Серијал,Колекција,Издавач,ИСБН,Повез,Напомена,Позајмљена,Враћена,Ко је позајмио
1,Space cadet,Robert Heinlein,1973,Научна фантастика,,,New english library,45000737-5,Меки,На Енглеском,,,
2,Латинске изреке,Бранимир Живојиновић; Угљеша Крстић,1992,Речник,,,Вајат,86-7039-035-3,Меки,,,,
3,Латински цитати,Виолета Илић,2003,Пословице,Зрнца мудрости,,Беокњига,86-83569-56-X,Пластифицирани папир,,+,,нн
4,Зрнца мудрости,Виолета Илић,2003,Пословице,Зрнца мудрости,,Беокњига,86-83569-57-8,Меки,,,,
5,Приповетке,Елин Пелин; Аљоша Ерцеган,1988,Књижевност,,,Просвета; Нолит; Матица Српска; БИГЗ,,Тврди,,,,
6,Песме,Естефанија Ларсон; Корделија Најсмит,2000,Песме,,,БИГЗ; Беокњига,6548115461516,Меки,,,,
7,Слобода,Јагодинка Симоновић,2011,Књижевност,,,БИГЗ; Матица Српска,-,Пластифицирани папир,,,,
8,Слободарски дух,Јевгениј Антон; Јагодинка Симоновић; Бранимир Живојиновић; Естефанија Ларсон; Естефанија Ларсон; Угљеша Крстић,1948,Песме,,,Самиздат; Матица Српска; Вајат,86-548420-154,Тврди текстилни,,,,
